// NAV
@include keyframes(display) {
	0% {display: none; opacity: 0;}
	1% {display: inherit;}
	100% {display: inherit;}
}
@include keyframes(none) {
	0% {display: inherit;}
	99% {display: inherit;}
	100% {display: none;}
}

/*
@include keyframes(grayscale) {
	0% {@include prefix(filter, grayscale(1), $pref);}
	100% {@include prefix(filter, grayscale(0), $pref);}
}
*/













