// --- SIZE
@mixin size($width, $height) {
      width: $width;
      height: $height;
}
// --- PADDING
@mixin padbox($padbox) {
	padding: $padbox; box-sizing: border-box;
}
@mixin padblock($padblock) {
	padding: $padblock; box-sizing: border-box; display: inline-block;
}
// --- BORDER
@mixin radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
// --- PREFIX $pref
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}
// --- PREFIXed
@mixin transition($sec) {
	-webkit-transition: all $sec ease; 
	-moz-transition: all $sec ease; 
	-o-transition: all $sec ease; 
	-ms-transition: all $sec ease; 
	transition: all $sec ease;
}
@mixin trans($all, $sec, $ease) {
	-webkit-transition: $all $sec $ease; 
	-moz-transition: $all $sec $ease; 
	-o-transition: $all $sec $ease; 
	-ms-transition: $all $sec $ease; 
	transition: $all $sec $ease;
}
// --- MEDIA
@mixin retina {
  @media screen and (min-width: 1600px) {@content;}
}
@mixin retina-port {
  @media screen and (min-height: 1601px) {@content;}
}
@mixin ipro {
  @media screen and (min-height: 1000px) and (max-width: 1400px) {@content;}
}
@mixin desk {
  @media screen and (min-width: 980px) {@content;}
}
@mixin tablet-port {
  @media screen and (max-width: 1024px) and (max-height: 768px) {@content;}
}
@mixin tablet {
  @media screen and (min-width: 600px) {@content;}
}
@mixin mobile {
  @media screen and (min-width: 300px) {@content;}
}
@mixin mobile-port {
  @media screen and (max-height: 420px) {@content;}
}
@mixin phone {
  @media screen and (max-width: 440px) {@content;}
}

// -- ANIMATION
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}
// -- FORMS
@mixin no-form {-webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; border: none; outline: none;}

//-- SHORTS
@mixin hovers {
	&:hover, &:active, &:focus {@content}
}
@mixin fxbottom {position: relative;
	&::after {content: ""; position: absolute; left: 50%; right: 50%; bottom: 0; background: $black; height: 2px; 
		@include prefix(transition-property, (left, right), $pref);
		@include prefix(transition-timing-function, ease, $pref);
		@include transition(0.3s);
	}
	&:hover::after, &:active::after, &:focus::after {left: 0; right: 0;}
}