// -- Basic
$phi:1.618em;
$pref:(webkit, moz, ms, o);
// -- Fonts
$open:'Open Sans', sans-serif;
$icon:'FontAwesome';
$champ:'Champagne & Limousines';
$hind:'Hind', sans-serif;
// -- Colors
$black:#231F20;
$grey:#D8D9DD;
$red:#C40D2E;
$pink:#EA5AA5;
$blue:#3AA2B0;
$purp:#2C3297;
$btn:#7D7F96;
$green:#006600;
$border:1px solid #dfdfdf;
//-- Lists
$socials:("\f09a", "\f099", "\f231", "\f16d", "\f167");
$scolors:(#3b5998, #55acee, #E75C3C, #bb0000, #007bb5);
// -- Custom
