.hide {display: none;}
// -- @media

/*
.retina {
	@media screen and (min-width: 1441px) {display: inline-block;}
	@media screen and (max-width: 1440px) {display: none;}
}
.imac {
	@media screen and (min-width: 1301px) {display: inline-block;}
	@media screen and (max-width: 1440px) {display: none;}
}
.desk {
	@media screen and (min-width: 981px) {display: inherit;}
	@media screen and (max-width: 980px) {display: none;}
}
.tablet {
	@media screen and (min-width: 981px) {display: none;}
	@media screen and (max-width: 980px) {display: inherit;}
}
.mobile {
	@media screen and (min-width: 601px) {display: none;}
	@media screen and (max-width: 600px) {display: inherit;}
}
.phone {
	@media screen and (min-width: 321px) {display: none;}
	@media screen and (max-width: 320px) {display: inherit;}
}
.d-hide {
	@media screen and (min-width: 980px) {display: none;}
}
.t-hide {
	@media screen and (max-width: 980px) {display: none;}
}
.m-hide {
	@media screen and (max-width: 600px) {display: none;}
}
.p-hide {
	@media screen and (max-width: 320px) {display: none;}
}
*/


// Gral
.grad {@include prefix(background, 'linear-gradient(to bottom, rgba(216,217,221,1) 0%, rgba(255,255,255,1) 100%);', $pref); 
	width: 100%; height: 3em; opacity: 0.8;
}
.shadow {text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.6);}