* {margin: 0; padding: 0;}
body{background: #111; font-family: $hind; letter-spacing: 1px;}
a {text-decoration: none; outline: none; cursor: pointer; @include transition(0.3s);
	@include hovers {text-decoration: none; outline: none;}
}
del {color: #aaa; display: inline-block;}
ul, ol, li {list-style-type: none;}
input, textarea {outline: none; background: white; @include transition(0.3s); border-width: 1px; border-style: solid; border-color: $grey;
	@include transition(0.3s);
	//&:focus, &:active {border-color: black;}
}
label {cursor: pointer;}
button, input[type="button"] {cursor: pointer; outline: none; @include no-form; font-weight: 300; @include transition(0.3s);}
select {cursor: pointer; width: 100%; border: none; display: inline-block; background-color: #f8f8f8; outline: none;
	@include radius(0px); @include no-form; height: 34px; color: #666; @include padbox(0 0 0 0.5em);
}
picture {width: 100%;
	img {width: 100%;}
}
