main#soon {width: 100%; position: relative; overflow: hidden;
	
	.picture {width: 100%; display: inline-block; position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.4;
		img {height: 100%; width: auto; display: inline-block; position: absolute; top: 0; right: 0;
			//@include desk {width: 110%; height: auto; min-height: 100%;}
			//@include retina-port {height: 100%; width: auto;}
			//@include ipro {height: 100%; width: auto;}
			//@include mobile-port {width: 110%; height: auto; min-height: 100%;}
		}
	}
		
	.header {width: 100%; height: 100%; @include padblock(1em); text-align: center; color: white;
		position: fixed; top: 0em; left: 0; right: 0; bottom: 0;
		@include flexbox; @include flow-cn; @include just-start; @include items-center;
		
		//@include mobile-port {font-size: 50%;}
		
		* {@extend .shadow;
			@include retina {font-size: 200%;}
		}
		h1 {display: none;}
		h2 {font-size: 1em; font-weight: 300; margin-top: 1em;
			//@include tablet {font-size: 2em;}
		}
		h3 {font-size: 1.4em; font-weight: 300; margin-top: 0.5em;
			//@include tablet {font-size: 3em;}
		}
		h4 {font-size: 2em; font-weight: 400; margin-top: 20%;
			//@include tablet {font-size: 4em; margin-top: 10%;}
		}
		h5 {font-size: 0.9em; font-weight: 300; margin-top: 0.6em;
			//@include tablet {font-size: 1.8em;}
		}
	}
	
	.logo {width: 100%; text-align: center;  position: fixed; left: 0; right: 0; bottom: $phi;
		span {max-width: 80px; display: inline-block;
			@include tablet {max-width: 130px;}
			@include phone {max-width: 80px;}
			img {width: 100%;}
		}
		nav {margin-top: 0.5em;
			a {color: white; font-size: 2em; @include padblock(0 10px);
				@include hovers {@include prefix(transform, scale(0.9), $pref);}
			}
		}
	}

}